.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #ffffff, #ffffff);
  padding: 1rem 1.8rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  font-family: "Poppins", Arial, sans-serif;
  box-sizing: border-box;
  color: #000000;
}

/* Logo MDB */
.navbar-logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: #000000;
  white-space: nowrap;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.navbar-logo span {
  color: #fbbf24;
}

/* Liens au centre */
.navbar-routes {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  justify-content: space-between;
  flex: 0.3;
  gap: rem;
  font-size: 2rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
}

.route-link {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  color: #000000;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.route-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fbbf24;
}

/* Icônes à droite */
.navbar-link {
  text-decoration: none;
  font-size: 1rem;
  color: #585858;
  display: flex-end;
  align-items: center;
  margin: 8px;
  gap: 0.8rem;
  transition: color 0.3s ease, transform 0.3s ease;
  white-space: nowrap;
}

.navbar-link:hover {
  color: #fbbf24;
  transform: scale(1.1);
}

.navbar-link i {
  font-size: 1.2rem;
  color: inherit;
}

/* Boutons et liens à droite */
.navbar-buttons {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
}

/* Style des boutons */
.btn {
  padding: 0.6rem 1.4rem;
  border: none;
  border-radius: 30px;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  white-space: nowrap;
}

.btn-signin {
  background-color: transparent;
  color: #000000;
  border: 1px solid #0a0909;
}

.btn-signin:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: translateY(-2px);
}

.btn-register {
  background-color: #fbbf24;
  color: #ffffff;
  border: none;
}

.btn-register:hover {
  background-color: #f59e0b;
  transform: translateY(-2px);
}

/* Effets responsive */
@media (max-width: 1024px) {
  .navbar-links {
    gap: 1.5rem;
  }

  .navbar-routes {
    gap: 1.5rem;
  }

  .navbar-buttons {
    gap: 0.8rem;
  }
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    padding: 1rem 1rem;
  }

  .navbar-routes {
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  .navbar-links,
  .navbar-buttons {
    flex-direction: column;
    gap: 0.8rem;
    align-items: center;
  }

  .btn {
    width: 100%;
    text-align: center;
  }
}
